input {
    outline: none;
}

html {
    background-color: #363636;
}

.hero {
    height: 100%;
    width: 100%;
}

.hero-body {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.columns {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;
}

.column {
    padding: 0px;
    margin: 0px;
    height: auto;
}

.hero-section {
    width: auto;
    height: auto;
}

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrar-full {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-class {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    outline: none !important;
    text-decoration: none;
    cursor: pointer;
}

.m {
    border: 3px solid red;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0 20vw;
    margin-bottom: 30px;
    display: none;
}

header div:first-child {
    display: inline-flex;
    width: max-width;
    float: left;
}

header div:last-child {
    display: inline-flex;
    width: max-width;
    float: right
}

header div:first-child h5 {
    font-weight: bold;
    border: 0.5px solid gray;
    cursor: pointer;
    transition: background-color 0.2s;
}

header div:first-child h5:hover {
    font-weight: bold;
    border: 0.5px solid gray;
    cursor: pointer;
    background-color: rgb(0, 48, 14);
    color: white;
    transition: background-color 0.2s;
}

header div h5, header div form, header div p {
    width: max-content;
    padding: 6px;
}

header form input {
    border: none;
    border-bottom: 1px solid gray;
}

.product-space {
    width: 100%;
    height: auto;
    padding: 0 15%;
}

.product-card {
    width: 23.3%;
    margin: 0.49vw;
    height: 22vw !important;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    display: inline-block;
    float: left;
    position: relative;
}

.product-img {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.product-img img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product-title {
    text-align: center;
    font-size: 1.4vw;
}

.product-footer {
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(122, 122, 122);
    position: absolute;
    bottom: 0
}

.product-footer p {
    padding: 1vw;
    font-size: 1.3vw;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.product-card:hover .product-footer p {
    opacity: 1;
    transition: opacity 0.2s;
}

.product-footer p img {
    width: 29px !important;
    float: right;
    cursor: pointer;
}

#carrito {
    width: 2vw;
    height: 2vw;
    float: right;
    background-image: url(../img/default/carro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-space .is-loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
}

#pagination {
    display: block;
    width: fit-content;
    margin-bottom: 100px;
    margin-top: 50px;
}

#pagination button {
    width: 150px;
    background-color: white;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
}

.bsale-tag {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 1px 5px;
    font-size: 12px;
    opacity: 0.9;
    font-weight: 700;
    cursor: pointer;
}

.bsale-tag:hover {
    border: 1px solid black;
}

.category1 {
    background-color: greenyellow;
    color: green;
}

.category2 {
    background-color: rgb(255, 208, 56);
    color: rgb(0, 0, 0);
}

.category3 {
    background-color: rgb(161, 154, 255);
    color: white;
}

.category4 {
    background-color: rgb(98, 250, 255);
    color: rgb(0, 0, 0);
}

.category5 {
    background-color: rgb(71, 119, 0);
    color: rgb(255, 255, 255);
}

.category6 {
    background-color: rgb(255, 47, 151);
    color: rgb(255, 255, 255);
}

.bs_cont {
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    width: 610px;
    height: 480px;
    display: block;
    position: relative;
}

.bs-disable {
    background-color: #363636 !important;
    color: #363636 !important;
    border: 0.2px solid gray !important;
    cursor: default !important;
}

#bs-count {
    text-align: center;
    color: white;
}

#btn-submit {
    background-color: greenyellow;
    color: green;
    border-radius: 3px;
    padding: 2px 4px;
    font-weight: bold;
    transition: background-color 0.2s;
}

#btn-submit:hover {
    background-color: yellow;
    color: green;
    transition: background-color 0.2s;
}

#txt-name {
    font-weight: bold;
}

#category {
    cursor: pointer;
}

#orden {
    cursor: pointer;
}

#btn-submit {
    cursor: pointer;
}

#limpiarForm {
    cursor: pointer;
}

@media (max-width: 850px) {
    header {
        padding: 0px 13vw;
    }
    .bs-form {
        width: 100%
    }
    .product-space {
        padding: 0 0%;
    }
    .product-card {
        height: 57vw !important;
    }
    .product-title {
        text-align: center;
        font-size: 3.2vw;
    }
    .product-card {
        width: 48.97%;
    }
    .product-footer {
        width: 100%;
        height: auto;
        border-top: 1px solid rgb(122, 122, 122);
        position: absolute;
        bottom: 0
    }
    .product-footer p {
        padding: 1vw;
        font-size: 4.3vw;
    }
    .product-footer p img {
        width: 29px !important;
        float: right;
        cursor: pointer;
    }
    #carrito {
        width: 6vw;
        height: 7vw;
    }
    .product-space .is-loading {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
    }
    .bs_cont {
        width: 100%;
        height: 480px;
        background-image: linear-gradient( rgba(231, 231, 231, 0.308), rgba(143, 143, 143, 0.651)), url();
        background-position: center;
        background-size: contain;
    }
    #txt-name {
        width: 100%;
    }
    #category {
        width: 48%;
        cursor: pointer;
    }
    #orden {
        width: 50%;
        cursor: pointer;
    }
    #btn-submit {
        width: 49%;
        cursor: pointer;
    }
    #limpiarForm {
        width: 49%;
        cursor: pointer;
    }
}